*{
    padding: 0;
    margin: 0;
}
/* -------------- BODY -------------- */

body{
    background: black;
    background-image: url(../images/earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}

/* -------------- HEADER -------------- */


.h1{
    background: black;
    color: #fcfcfc;
    padding-left: 5%;
    padding-top: 80px;
    width: 100%;
}

/* --- NAV ---*/
nav{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,3,98,1) 88%, rgba(0,202,255,1) 100%);
    height: 45px;
    padding-left: 25%;
}

ul{
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    min-width: 500px;
    border: solid 1px white;
    opacity: 0.8;
    border-radius: 0 0% / 0 100%;
}
li{
    list-style: none;
    color: #fcfcfc;
    font-size: 25px;
    padding: 10px;
}

/* -------------- MAIN -------------- */


.section1{
    display: flex;
    width: 100%;
    height: 900px;
    margin-top: 30px;
}

.caja1{
    text-align: center;
    padding: 5%;
    color: white;
    background-color: black;
    border: solid 0px white;
    opacity: 0.7;
    border-radius: 2%;
    margin: 15px;
    font-size: 35px;
    width: 33%;
}

.caja2{
    text-align: center;
    padding: 5%;
    color: white;
    background-color: black;
    border: solid 0px white;
    opacity: 0.7;
    border-radius: 2%;
    margin: 15px;
    width: 33%;
    font-size: 35px;
}

.caja3{
    text-align: center;
    padding: 5%;
    color: white;
    background-color: black;
    border: solid 0px white;
    opacity: 0.7;
    border-radius: 2%;
    margin: 15px;
    width: 33%;
    font-size: 35px;
}

/*** MEMBRESIAS ***/

.section2{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px;
    margin-top: 100px;
    justify-content: center;
    
}

.div1{
    background: rgb(241,241,241);
    background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(134,134,134,1) 100%);
    text-align: center;
    color: white;
    border: 0px solid black;
    border-radius: 100%;
    margin: 15px;
    box-shadow: 5px 5px 5px black;
}
.div2{
    background: rgb(251,230,135);
    background: radial-gradient(circle, rgba(251,230,135,1) 0%, rgba(129,116,56,1) 100%);
    text-align: center;
    color: white;
    border: 0px solid black;
    border-radius: 100%;
    margin: 15px;
    box-shadow: 5px 5px 5px black;
}
.div3{
    background: rgb(161,161,161);
    background: radial-gradient(circle, rgba(161,161,161,1) 0%, rgba(61,61,61,1) 100%);
    text-align: center;
    color: white;
    border: 0px solid black;
    border-radius: 100%;
    margin: 15px;
    box-shadow: 5px 5px 5px black;
}
.div4{
    background-color: black;
    text-align: center;
    font-size: 35px;
    color: white;
    border: 1px solid black;
    height: 15%;
    margin: 15px;
    margin-top: 40%;
    opacity: 0.8;
}
.div5{
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid black;
    font-size: 35px;
    height: 15%;
    margin: 15px;
    margin-top: 40%;
    opacity: 0.8;
}
.div6{
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid black;
    font-size: 35px;
    height: 15%;
    margin: 15px;
    margin-top: 40%;
    opacity: 0.8;
}
.div7{
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid black;
    margin: 15px;
    border-radius: 5%;
    opacity: 0.8;
}
.div8{
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid black;
    margin: 15px;
    border-radius: 5%;
    opacity: 0.8;
}
.div9{
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid black;
    margin: 15px;
    border-radius: 5%;
    opacity: 0.8;
}

/* TRANSITIONS */

.div1:hover{
    transition: 5s;
    height: 345px;
    width: 345px;
}
.div2:hover{
    transition: 5s;
    height: 345px;
    width: 345px;
}
.div3:hover{
    transition: 5s;
    height: 345px;
    width: 345px;
}
li:hover{
    transition: 1s;
    color: cornflowerblue;
}