*{
    padding: 0;
    margin: 0;
}
/* -------------- BODY -------------- */

body{
    background: black;
    background-image: url(../images/earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* -------------- HEADER -------------- */

.header{
    height: 200px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 78%, rgba(3,3,98,1) 97%, rgba(0,202,255,1) 100%);
}

/* ----- SUPRA HEADER ----- */
.divh1{
    width: 20%;
}
.h1{
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcfcfc;
    height: 100px;
    width: 100%;
}
/* ----- INFRA HEADER ----- */
nav{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding-top: 50px;
}
ul{
    display: flex;
    align-items: center;
    width: 60%;
    height: 80%;
    justify-content: space-around;
    background-color: #212121;
    border-radius: 0 0% / 0 100%;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
li{
    font-size: 25px;
    font-weight: bold;
    list-style: none;
}
li:hover{
    transform: scale(1.2);
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: cornflowerblue;
}

/* MEDIA QUERY 1280/680 */
@media only screen and (max-width: 1280px){
    .header{
        height: 200px;
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(3,3,98,1) 78%, rgba(0,202,255,1) 98%);
    }
    .divh1{
        width: 100%;
    }
    .h1{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fcfcfc;
        height: 50px;
        width: 100%;

    }
    ul{ 
        display: inline-block;
        width: 100%;
        height: 80%;
        justify-content: space-around;
        background-color: #212121;
        border-radius: 0 0% / 0 100%;
        box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    li{
        background-color: #212121;
        font-size: 20px;
        font-weight: bold;
        list-style: none;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }
    li a{
        text-decoration: none;
        color: white;
    }
}

/* -------------- MAIN -------------- */

.main{
    padding-top: 65px;
    height: 1000px;
    width: 100%;
    background-color: none;
}
.section1{
    background-color: none;
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

/* ----- CAJAS DE NOTICIAS ----- */
.caja{
    border: 0px solid black;
    margin: 20px;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}
.caja1{
    background-image: url(../images/noticia3.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 800px;
    grid-column: 1/3;
    grid-row: 1/3;
}
.caja:hover{
    transform: scale(1.05);
}
.caja2{
    background-image: url(../images/noticia2.jpg);
    background-position: center;
    background-size: cover;
    height: 375px;
    width: 400px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.caja3{
    background-image: url(../images/noticia1.jpg);
    background-position: center;
    background-size: cover;
    height: 375px;
    width: 400px;
    grid-column: 3/4;
    grid-row: 2/3;
}

/* ----- TEXTOS DE NOTICIAS ----- */
.caja1text{
    margin-top: 85%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 10px;
    height: auto;
    font-size: 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    opacity: 0.9;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caja2text{
    font-size: 20px;
    color: white;
    margin-top: 75%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    opacity: 0.9;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caja3text{
    font-size: 20px;
    color: white;
    margin-top: 75%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    opacity: 0.9;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MEDIA QUERY 1280 */
@media only screen and (max-width: 1280px){
    .section1{
        margin-top: 10px;
        background-color: none;
        width: 100%;
        display: inline-grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
    }
    .caja1{
        height: 550px;
        width: 550px;
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .caja2{
        height: 300px;
        width: 250px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .caja3{
        height: 300px;
        width: 250px;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .caja1text{
        font-size: 25px;
    }
    .caja2text{
        font-size: 15px;
    }
    .caja3text{
        font-size: 15px;
    }
}

/* MEDIA QUERY 680 */
@media only screen and (max-width: 680px){
    .section1{
        margin-top: 10px;
        background-color: none;
        width: 100%;
        display: inline-grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
    }
    .caja1{
        height: 250px;
        width: 250px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .caja2{
        height: 250px;
        width: 250px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .caja3{
        height: 250px;
        width: 250px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .caja1text{
        font-size: 10px;
    }
    .caja2text{
        font-size: 10px;
    }
    .caja3text{
        font-size: 10px;
    }
}
/*** MEMBRESIAS ***/

.section2{
    background-color: none;
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}
.memcaja{
    border: 0px solid black;
    margin: 20px;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.memcaja:hover{
    transform: scale(1.05);
}
.memcaja1{
    background: rgb(226,226,226);
    background: radial-gradient(circle, rgba(226,226,226,1) 0%, rgba(167,167,167,1) 70%, rgba(128,128,128,1) 89%);
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.memcaja2{
    background: rgb(228,204,94);
    background: radial-gradient(circle, rgba(228,204,94,1) 0%, rgba(166,148,69,1) 70%, rgba(125,112,51,1) 89%);
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.memcaja3{
    background: rgb(175,175,175);
    background: radial-gradient(circle, rgba(175,175,175,1) 0%, rgba(120,120,120,1) 70%, rgba(77,77,77,1) 89%);
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.memcaja4{
    background-color: black;
    opacity: 0.9;
    height: 500px;
    width: 300px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.span1memcaja4{
    font-weight: bold;
}
.memcaja5{
    background-color: black;
    opacity: 0.9;
    height: 500px;
    width: 300px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.span1memcaja5{
    font-weight: bold;
}
.memcaja6{
    background-color: black;
    opacity: 0.9;
    height: 500px;
    width: 300px;
    font-size: 25px;
    color: white;
    text-align: center;    
}
.span1memcaja6{
    font-weight: bold;
}

/* MEDIA QUERY 1280 */
@media only screen and (max-width: 1280px){
    .section2{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
    .memcaja1{
        height: 150px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .memcaja4{
        height: 250px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 15px;
    }
    .memcaja2{
        height: 150px;
        width: 150px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .memcaja5{
        height: 250px;
        width: 150px;
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 15px;
    }
    .memcaja3{
        height: 150px;
        width: 150px;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .memcaja6{
        height: 250px;
        width: 150px;
        grid-column: 3/4;
        grid-row: 2/3;
        font-size: 15px;
    }
}

/* MEDIA QUERY 680 */
@media only screen and (max-width: 680px){
    .section2{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .memcaja1{
        height: 150px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .memcaja4{
        height: 150px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 10px;
    }
    .memcaja2{
        height: 150px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .memcaja5{
        height: 150px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 10px;
    }
    .memcaja3{
        height: 150px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .memcaja6{
        height: 150px;
        width: 150px;
        grid-column: 1/2;
        grid-row: 6/7;
        font-size: 10px;
    }
 }

/*** CURSOS ***/

.section3{
    margin-left: 20%;
    margin-right: 20%;
    background-color: turquoise;
    width: 60%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    align-items: center;
}
.curcaja{
    border: 1px solid black;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    font-weight: bold;
}
.curcaja1{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja2{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja3{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja4{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja5{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja6{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja7{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja8{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.curcaja9{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}

/*** MATERIAL ***/

.section5{
    margin-left: 20%;
    margin-right: 20%;
    background-color: turquoise;
    width: 60%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}
.matcaja{
    border: 1px solid black;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    font-weight: bold;
}
.matcaja1{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja2{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja3{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja4{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja5{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja6{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja7{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja8{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}
.matcaja9{
    height: 70px;
    width: 100%;
    background-color: white;
    font-size: 35px;
}

/*** STAFF ***/
.section6{
    background-color: none;
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}
.stacaja{
    border: 1px solid white;
    margin: 20px;
    box-shadow: 0 4px 80px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.stacaja1{
    background-color: black;
    background-image: url(../images/musk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.stacaja2{
    background-image: url(../images/bezos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.stacaja3{
    background-color: black;
    opacity: 0.9;
    height: 500px;
    width: 300px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.span1stacaja3{
    font-weight: bold;
}
.stacaja4{
    background-color: black;
    opacity: 0.9;
    height: 500px;
    width: 300px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.span1stacaja4{
    font-weight: bold;
}
